h5,h1{
    margin:0;
    padding:0;
}

@keyframes fade-out-animation {
   from {background-color: #D3D3D3;} 
   to {background-color: gray;} 
}

#banner-img{
	top:9vh;
}

.user-info{
	animation:  fade-out-animation 4s infinite;
	animation-direction: alternate;
	left: 10vw;
	border-radius: 25px;
	padding: 10px; 
	width: 30vw;
	height: 33vh;
	top: 55vh;
	position: absolute;
	color: #373737;
	text-align: center;
	z-index:1;
	color: black;
	font-size: 66%;
	overflow: hidden;
}

.input{
	width: 50vh;
}

#comment-div{
	position: absolute;
	left: 50vw;
	top: 55vh;
	width: 30vw;
	height: 33vh;
	padding:10px;
	text-align: center;
	font-size: 66%;
	overflow: hidden;
	border-radius: 25px;
	animation: fade-out-animation 4s infinite;
	animation-direction: alternate;
}

#button{
	padding-left: 5%;
	padding-right: 5%;
	padding-top:2%;
	padding-bottom:2%;
	background-color: #DCD0C0;
}

.fa {
  padding: .1%;
  font-size: 66%;
  width: 4vw;
  text-align: center;
  text-decoration: none;
  margin: 1vw .5vh;
  z-index:2;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.b1{
	z-index:1;
}

.bpic{
	opacity: 0.6;
}

#submitContact{
	background-color: #DCD0C0;
	color: #373737;
	text-align: center;
	border-radius: 20px;
	padding: 0.5vw;

}
@media only screen and (max-width: 600px){
	.input{
		width: 30vw;;
	}
	
	.user-info{
		width: 31vw;
	}
	
	#comment{
		width: 27vw;
	}
	
	#comment-div{
		left: 53vw;
	}
}

